body {
  font-family: system-ui, sans-serif
}

form section {
  margin-top: 1rem;
}

label,
input,
textarea
button,
select{
  font-size: 1.3rem;
  line-height: 1.2
}

form {
  width: 30em;
  max-width: 90%;
  margin: 0 auto;
}

label {
  margin-bottom: 0.4rem;
  display: block;
}

input,
textarea {
  padding: 0.4rem;
  width: 100%;
  border: 1px solid;
}

button {
  margin-top: 2rem;
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 19px;
  display: block;  
}
input:user-invalid {
    border: 2px solid red;
    
}
input:valid {
  border: 2px solid green;
}
.form-element {
  font-size: 1.3rem;
  line-height: 1.2;
}
